#footer{	
	background-color:#7f161f;
	color:#FFFFFF;
	padding:60px 0;

	h3{
		color:#FFF;
		font-weight:normal;
		margin-bottom:20px;
        font-size:30px;
	}

	p{
		color:#efc031;
		margin-bottom:20px;
		font-size:18px;
	}

	.redes_sociais_header{
        margin-top: 15px;
        margin-bottom: 10px;
        height: 68px;
        list-style:none;
        display: inline-block;
        padding-left: 20px;
        width: 340px;

    }

    .redes_sociais_header li:hover{
        opacity: 0.6;
        filter: alpha(opacity=60); /* For IE8 and earlier */
    }

    .redes_sociais_header a{
        display: inline-block;
        width:68px;
        height:68px;
    }

    .redes_sociais_header .youtube{
        background-image: url("images/redes-bot.jpg");
        background-position: left,center;
        background-repeat:no-repeat;
        width:68px;
        height:68px;
        display:inline-block;       
    }

    .redes_sociais_header .instagram{
        background-image: url("images/redes-bot.jpg");
        background-position: -102px,center;
        background-repeat:no-repeat;
        width:68px;
        height:68px;
        display:inline-block;       
    }

    .redes_sociais_header .twitter{
        background-image: url("images/redes-bot.jpg");
        background-position: -205px,center;
        background-repeat:no-repeat;
        width:68px;
        height:68px;
        display:inline-block;       
    }

    .redes_sociais_header .facebook{
        background-image: url("images/redes-bot.jpg");
        background-position: right,center;
        background-repeat:no-repeat;
        width:100px;
        height:68px;
        display:inline-block;       
    }

}
div.copyrino{
	background-color:#73121b;
	text-align: center;
	color: #FFF;
	padding:40px 0;

	ul{
		list-style-type: none;
		padding:0;

		li{
			float:left;
			margin-left:30px;
			a{
				color:#FFF
			}
			a:hover{
				color:#cd4228;
			}
		}
	}
}

@media (max-width: 991px) {  

}

@media (min-width: 992px) {  
  
}
